body{
  margin: 0px;
  /* background-color: #352414; */
  text-align: center;
  background-image: url("https://media.giphy.com/media/3oGRFI5AnzkQIuj2lq/giphy.gif");
  background-size: cover;
  background-repeat: inherit;
  color: #4b1e04e5;
  
}

.header{
  margin-top: 3px;
}
.toolbox{
  height: 100vh;
  position: absolute;
  background-color: #a8400485;
  width:100px;
}

.toolbox.left{
  left: 0x;
  top: 0px;
}
.material-icons{
  display: flow-root;
  margin-top: 10%

}
 .toolbox.rigth{
   right: 0px;
   top: 0px;
 }

